.root {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
  background: #ffffff;
}
.box__mGzf {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  height: 100%;
  min-height: 0;
}
.header {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
}
.logoText:global(.__wab_instance) {
  position: relative;
}
.box__p9Jof {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-grow: 2;
  padding: 5px;
}
.headerSearchBar__ew6R7:global(.__wab_instance) {
  position: relative;
}
.headerButtonAreaBig {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.headerButton__wHet7:global(.__wab_instance) {
  position: relative;
}
.headerButton__bqcWx:global(.__wab_instance) {
  position: relative;
}
.headerButton__ohi4J:global(.__wab_instance) {
  position: relative;
}
.box__rn7Cy {
  height: auto;
}
.headerButton___4MMqb:global(.__wab_instance) {
  position: relative;
}
.headerButton__lvel7:global(.__wab_instance) {
  position: relative;
}
.headerButtonAreaMobile {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.headerMenuButton:global(.__wab_instance) {
  position: relative;
}
.hero {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 300px;
  padding-left: 20px;
  padding-right: 20px;
  flex-shrink: 0;
  background: url("./images/clarkVanDerBekenTk0B3Dfkf4Unsplashjpg.jpeg") left 0% top 10% / cover;
}
@media (min-width: 768px) {
  .hero {
    height: 500px;
    flex-shrink: 0;
  }
}
.box___8Lbi8 {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  align-self: flex-start;
}
@media (min-width: 768px) {
  .box___8Lbi8 {
    align-self: center;
  }
}
.box__uV2Q {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-bottom: 20px;
}
.box___6SnVt {
  position: relative;
  width: auto;
  height: 100%;
  left: auto;
  top: auto;
  font-size: 46px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  display: inline-block;
  min-height: 0;
}
.box__z4M5P {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-bottom: 10px;
}
.box__op1G3 {
  position: relative;
  left: auto;
  top: auto;
  color: rgb(255, 255, 255);
  font-size: 18px;
}
.box__xZlnI {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.box__jjTvU {
  position: relative;
  color: rgb(255, 255, 255);
  font-size: 18px;
}
.box___677Hf {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.headerSearchBar__b1Cz:global(.__wab_instance) {
  position: relative;
}
.searchResults {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-grow: 2;
}
.footer___6YfxI {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.footer___5BWbc:global(.__wab_instance) {
  position: relative;
}
