.root {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  min-width: 0;
  min-height: 0;
  background: #ffffff;
}
.box__eIlmj {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  align-content: flex-start;
  overflow: auto;
  min-width: 0;
  min-height: 0;
}
.headerRow {
  display: block;
  position: relative;
  width: 100%;
  height: 60px;
  left: auto;
  top: auto;
  min-width: 0;
  flex-shrink: 0;
  background: rgba(89, 255, 68, 0.2);
}
.box___5DwIc {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.heroRow {
  display: block;
  position: relative;
  width: 100%;
  height: 100px;
  min-width: 0;
  flex-shrink: 0;
  background: url("./images/clarkVanDerBekenTk0B3Dfkf4Unsplash21Jpg.jpeg") 0% 0% / cover,
    rgba(255, 255, 68, 0.2) 0% 0% / auto auto;
}
@media (min-width: 0px) and (max-width: 800px) {
  .heroRow {
    width: 100%;
    min-width: 0;
  }
}
.storesRow {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.box__iYxWg {
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  min-height: 300px;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
  padding: 60px;
  background: rgb(255, 255, 255);
}
.box__iYxWg > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: space-between;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.box__iYxWg > :global(.__wab_flex-container) > *,
.box__iYxWg > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 800px) {
  .box__iYxWg {
    padding: 20px;
  }
}
.box__xkOZz {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  max-width: 500px;
  min-width: 0;
}
.box__q41R {
  position: relative;
  width: 593px;
  height: auto;
  left: auto;
  top: auto;
  font-weight: 700;
  color: rgb(0, 0, 0);
  font-size: 44px;
  font-family: "Muli";
  max-width: 500px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 800px) {
  .box__q41R {
    font-size: 30px;
  }
}
.box___4CClO {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
}
.box__kbjbc {
  position: relative;
  font-size: 18px;
  color: rgb(0, 0, 0);
  width: 100%;
  height: auto;
  min-width: 0;
}
.columns {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 0px;
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 800px) {
  .columns {
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 800px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 0px) and (max-width: 800px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 20px;
  }
}
.column___6Yd2 {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  width: 0;
  justify-content: space-evenly;
}
@media (min-width: 0px) and (max-width: 800px) {
  .column___6Yd2 {
    width: auto;
  }
}
.box__aToF4 {
  display: flex;
  position: relative;
  width: 100%;
  height: 40px;
  left: auto;
  top: auto;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  flex-shrink: 0;
  background: rgb(238, 238, 238);
}
.box__pG2N {
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  font-family: "Muli";
  color: rgb(150, 156, 157);
  margin-left: 20px;
  display: inline-block;
}
.column___16AF {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  width: 0;
  justify-content: space-evenly;
}
@media (min-width: 0px) and (max-width: 800px) {
  .column___16AF {
    width: auto;
  }
}
.box__pUhZx {
  display: flex;
  position: relative;
  width: 100px;
  height: 40px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  background: rgb(17, 178, 189);
}
.box__qncQk {
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  font-family: "Muli";
  color: rgb(255, 255, 255);
  display: inline-block;
}
.footerRow {
  display: block;
  position: relative;
  width: 100%;
  height: 98px;
  left: auto;
  top: auto;
  min-width: 0;
  flex-shrink: 0;
  background: rgb(29, 178, 189);
}
.box__xpoU8 {
  display: flex;
  position: absolute;
  top: 100px;
  right: 17px;
  flex-direction: row;
}
.routesDialog:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  flex-shrink: 0;
}
